<!DOCTYPE html>
<html>
	<head>
		<title>Edison 2019: Arx Proelio - 5-7th July Stockholm</title>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link href="content/style.css" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico">
		<meta property="og:url" content="https://edisonparty.com" />
		<meta property="og:title" content="Edison 2019 | July 5th to 7th - Stockholm, Sweden" />
		<meta property="og:image:type" content="image/png" />
		<meta property="og:image" content="https://edisonparty.com/content/edison_logo_2019_banner_1920-nq8.png" />
		<meta property="og:image:url" content="https://edisonparty.com/content/edison_logo_2019_banner_1920-nq8.png" />
		<meta property="og:image:width" content="187" />
		<meta property="og:description" content="Once per cycle, since time immemorial, we in the demoscene have gathered to perform the rites of initiation, prowess and kinship. That time has now come again. You have been chosen among many to receive the exclusive honour of partaking in the festivities." />
		<meta property="og:image:height" content="50" />
		<script type="text/javascript">
			var onScroll = function(evt) {
				var pos = (window.pageYOffset / 2) + "px";
				var backElems = document.getElementsByClassName("banner");
				for (var index = 0; index < backElems.length; ++index) {
					backElems[index].style.top = pos; 
				}
			};
			window.addEventListener("scroll", onScroll, true);
		</script>
	</head>
	<body>
		<div class="menu">
			<ul>
				<li><a href="#about">ABOUT</a></li>
				<li><a href="#visitors">VISITORS</a></li>
				<li><a href="#tickets">TICKETS</a></li>
				<li><a href="#compos">COMPOS</a></li>
				<li><a href="#timetable">TIMETABLE</a></li>
			</ul>
		</div>
		<div class="page" id="visitors">
			<div class="content">
				<div class="wideblurb">
					<h1>VISITORS</h1>
					@RenderSection("Visitors", required: false)
				</div>
				<div class="blurb">
					<h2>REGISTRATION</h2>
					<p>Note: The e-mail address is used to identify you
					on the event guestlist and may be used to contact you
					if there are any unforeseen events or we need to get in
					touch with you for some other reason.</p>
					@RenderSection("Registration", required: false)
					<p>For personal data removal requests, please send an email to
					<a href="mailto:crew@edisonparty.com">crew@edisonparty.com</a>.</p>

				</div>
			</div>
		</div>
		<div class="page" id="tickets">
			<div class="content">
				<div class="wideblurb">
					<h1>TICKETS</h1>
					<a href="https://edison.confetti.events/" class="button">Buy tickets!</a>
					<a href="https://shop.spreadshirt.se/edisonparty"  class="button">Order t-shirts</a>

					<table class="table tickets">
						<tr>
							<th>Ticket</th>
							<th>Price</th>
						</tr>
					<tr>
						<td>Party&nbsp;Ticket<br />The regular party ticket! Gain full access to the entire party experience!</td>
						<td>350&nbsp;SEK</td>
					</tr>
					<tr>
						<td>Supporter&nbsp;Ticket<br />If you love what we do and want a twice as expensive ticket!</td>
						<td>700&nbsp;SEK</td>
					</tr>
					<tr>
						<td>Sponsor&nbsp;Ticket<br />The easy way to become a sponsor, simply buy a sponsor ticket after contacting us for a sponsor agreement!</td>
						<td>5000&nbsp;SEK</td>
					</tr>
					<tr>
						<td>Party&nbsp;Ticket (at&nbsp;the&nbsp;door)<br/>The party ticket paid using credit card at the door! With a slight price adjustment and <a href="#visitors">pre-registration</a> still mandatory.</td>
						<td>400&nbsp;SEK</td>
					</tr>	
					<tr>
						<td>I&nbsp;❤️&nbsp;Edison but&nbsp;can't&nbsp;come Ticket<br />A hearty ticket that doesn't provide physical access to the party! For you who can't attend but still want to express your love.</td>
						<td>350&nbsp;SEK</td>
					</tr>										
					</table>



					<p>
						The t-shirts and other merch are sold by Spreadshirt with 0 SEK profit and you can choose all the fabric colours except white! Make sure to
						order your favourite t-shirt, tank-top or baseball cap well ahead of the party to receive it on time.
					</p>
				</div>
			</div>
		</div>

		<div class="page" id="compos">
			@RenderSection("Compos", required: false)
		</div>
		
		<div class="page" id="timetable">
			<div class="content">
				<div class="fullblurb">
					<h1>TIMETABLE</h1>
					<section class="autoflexer">
						<table>
							<tr>
								<th colspan="2">Friday 5th July</th>
							</tr>
							<tr>
								<td>17:00</td>
								<td>Doors open</td>
							</tr>
							<tr>
								<td>19:00</td>
								<td>Opening ceremony</td>
							</tr>
							<tr>
								<td>20:00</td>
								<td>Live graphics duel compo</td>
							</tr>
							<tr>
								<td>22:00</td>
								<td>Live music duel compo</td>
							</tr>
							<tr>
								<td>02:00</td>
								<td>Noise curfew until 08:00</td>
							</tr>
						</table>
						<table>
							<tr>
								<th colspan="2">Saturday 6th July</th>
							</tr>
							<tr>
								<td>10:00</td>
								<td>Breakfast is served</td>
							</tr>
							<tr>
								<td>11:00</td>
								<td>Showers open</td>
							</tr>
							<tr>
								<td>12:00</td>
								<td>Electronics Flea Market Start</td>
							</tr>
							<tr>
								<td></td>
								<td>Deadline all Music compos</td>
							</tr>
							<tr>
								<td>13:00</td>
								<td>Demoscene quiz with velo/approximate</td>
							</tr>
							<tr>
								<td>14:00</td>
								<td>Music compos</td>
							</tr>
							<tr>
								<td></td>
								<td>Deadline all Graphics / ASCII compos</td>
							</tr>
							<tr>
								<td></td>
								<td>Deadline Photo & Animation / Video compos</td>
							</tr>							
							<tr>
								<td>16:00</td>
								<td>Graphics / ASCII compos</td>
							</tr>
							<tr>
								<td>18:00</td>
								<td>Photo & Animation / Video compos</td>
							</tr>
							<tr>
								<td></td>
								<td>Deadline all Demo compos</td>
							</tr>
							<tr>
								<td>20:00</td>
								<td>Demo compos</td>
							</tr>
							<tr>
								<td>23:00</td>
								<td>Deadline voting</td>
							</tr>
							<tr>
								<td>00:00</td>
								<td>Results & Prize-giving & Thank You</td>
							</tr>
							<tr>
								<td>02:00</td>
								<td>Noise curfew until 08:00</td>
							</tr>
						</table>					 
						<table>
							<tr>
								<th colspan="2">Sunday 7th July</th>
							</tr>
							<tr>
								<td>10:00</td>
								<td>Breakfast is served</td>
							</tr>
							<tr>
								<td>11:00</td>
								<td>Showers open</td>
							</tr>
							<tr>
								<td>12:00</td>
								<td>Doors close</td>
							</tr>						
						</table>
					</section>
				</div>
			</div>
		</div>
		
		<!-- Default page is the last one due to sibling selector rules. -->
		<div class="page" id="about">
			<div class="top">
				<div class="banner">
					<h1>Edison 2019</h1>
				</div>
			</div>
			<div class="content">
				<div class="fullblurb">
					<h1 class="dates">5-7 JULY · STOCKHOLM</h1>
				</div>
				<div class="column">
					<div class="blurb">
						<h2>AD MAIOREM SCENA GLORIAM</h2>
						<p>Once per cycle, since time immemorial, we in the
						demoscene have gathered to perform the rites of initiation,
						prowess and kinship. That time has now come again. You have
						been chosen among many to receive the exclusive honour of
						partaking in the festivities.</p>
						<p>Our reach is global. Nothing has been unforeseen. You
						will experience the pinnacle of demoscene achievement, with
						a vicinity and directness few dare dream of.</p>
						<p>All prospects are welcome. <a href="#visitors">Join the
						inner circle</a>, and realise your very destiny!</p>
					</div>
				</div>
				<div class="column">
					<div class="blurb">
						<h2>WELCOME TO STOCKHOLM</h2>
						<p>In the traditional venue of rituals; Eggeby Gård. It is
						accessible by public transportation followed by a walk, as
						well as by car if you can navigate the labyrinthine pathways
						that lead there. Fret not, initiate, we are here to guide
						you.</p>
						<h3>FACILITIES & FEATURES</h3>
						<p>Camping is allowed outside the venue and there are dedicated
							sleeping areas inside the venue as well. There's a larger
							car parking area 100 meter from the venue. Showers are provided
							in the morning on Saturday and Sunday.
						</p>						
						<p>
						We provide free DIY breakfast on Saturday and Sunday and there's
						a food truck from Curbside selling delicious meat- and veggie
						burgers on Friday and Saturday.
						</p>
					</div>
					<div class="blurb">
						<figure>
							<div class="video">
								<iframe src="https://www.youtube.com/embed/TjODLNS5sMY"
										frameborder="0" 
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
							</div>
							<figcaption>"Edison 2019 Invitation", by Chemtrailer Boys.
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="column">
					<div class="blurb">
						<h2>COMPETITIONS</h2>
						<p>We feature competitions in all the classic disciplines.
						How about this:</p>
						<ul>
							<li>Newschool demo</li>
							<li>Oldschool demo</li>
							<li>Newschool intro</li>
							<li>Wild demo</li>
							<li>Oldschool graphics</li>
							<li>Newschool graphics</li>
							<li>ASCII/ANSI graphics</li>
							<li>ASCII Votesheet Versus #9</li>
							<li>Streaming music</li>
							<li>Oldschool/tracked music</li>
							<li>Animation &amp; video</li>
							<li>Photo</li>
						</ul>
						<p>And if that's not enough for you, we have some live
						compos as well:</p>
						<ul>
							<li>Live graphics duel</li>
							<li>Live music duel</li>
						</ul>
					</div>
				</div>
				<div class="fullblurb">
					<h2>GETTING THERE</h2>
					<p>
						<b>New:</b> Due to classified construction work at Eggeby Gård the usual road is inaccessible.
					</p>
					<p>
						We've acquired intelligence that may help you in your journey this year. Make sure to follow
						the green path by car or the blue path on foot. Avoid the red path by all means.
					</p>	
					<img style="width: 100%;" src="/content/map-drawing.png">
					<div class="autoflexer">
						<section>
							<h3>Car <b>(updated)</b></h3>
							<p>
								On E18 take the exit to Sollentuna at Hjulsta Trafikplats and shortly after take a right turn towards the 
								Disc Golf course, onto a gravel road.
							</p>
							<p>Follow the gravel road a couple of kilometers straight ahead, passing
								by an area of allotments (community gardens) and a gate that should now be open.
							</p>
							<p>
								After a while you'll be 
								on the regular road and can take a left turn when you see Eggeby Gård on the left or the construction zone ahead.
								The huge construction zone will also prevent you from driving too far. 
							</p>
							<p>
								Be patient and drive slowly as the entire
								road is full of pot holes and even some craters from secret rocket launch tests.
							</p>
						</section>						
						<section>
							<h3>Airport</h3>
							<p>
								When travelling by plane we recommend the Arlanda or Bromma airports.
							</p>
							<p>
								Taxi directly from Arlanda to
								the party shouldn't be more than around 550 SEK, so if you are a group of people that's recommended.
							</p>	
						</section>
						<section>
							<h3>Metro</h3>
							<p>
								From Stockholm Central Station there it's a matter of either taking a cab or going by
								the metro. If you want to go by metro, the closest stop is Tensta on the blue line, and from there it's a
								1.5 kilometer walk to the party.
							</p>
							<p>
								 A more scenic but longer walk can be enjoyed walking from Kista, also the blue line.
							</p>
						</section>
						<section>
							<h3>Taxi</h3>
							<p>
								Going by taxi from Stockholm Central Station is easy if you use the designated taxi area outside.
								The cabs there are regulated and won't charge any exuberant fees. It is located in the
								front of the building. 
							</p>
							<p>	
								Please note that the taxi driver might need the updated car instructions to
								get you to the venue this year.
							</p>
						</section>
					</div>
					<div style="flex-basis: 100%;display: flex;">
						<div style="flex: 1;" id="googleMap">[JavaScript: Map goes here]</div>
					</div>
				</div> 
			</div>
		</div>
		<footer>
			<section>
				<h2>WHERE AND WHEN</h2>
				<p>July 5th - 7th</p>
				<p>
					Eggeby Gård 1 (Teaterladan)<br />
					163 62 SPÅNGA<br />
					Sweden
				</p>
				<p>
				<a href="https://goo.gl/maps/FL9rmcaxKdz">Open location in Google Maps</a>
				</p>
			</section>
			<section>
				<h2>HOW TO PARTICIPATE</h2>
				<p>
					To participate you must register on this website with a working e-mail address as that will be used to identify you on the venue guestlist.
					Buying a pre-sale ticket online helps plan for a better party and is cheaper than buying one at the door.
				</p>
				<p>
				<a href="#visitors">Register (required to attend)</a><br />
				<a href="#tickets">Buy a ticket</a><br />
				<a href="https://shop.spreadshirt.se/edisonparty">Buy an official t-shirt / apparel</a>
				<br />
				<br />
				<a href="#compos">Check out our compos</a><br />
				<a href="#timetable">Study the timetable</a><br />
				<a href="https://discord.gg/CT7kaBt">Join our Discord</a><br />
				</p>
			</section>		
			<section>
				<h2>CONTACT US</h2>
				<p>For any general questions and for sponsor proposals please send an email to: <a href="mailto:crew@edisonparty.com">crew@edisonparty.com</a></p>
				<!-- Enter your email to join our Slack:<br />
				@RenderSection("Slack", required: false)<br /> -->
				RSVP to our <a href="https://www.facebook.com/events/2264120550474232/">Facebook event</a><br />
				Like our <a href="https://www.facebook.com/Edison-116351705114586/">Facebook page</a><br />
			</section>	
		</footer> 
		<section class="sponsors">
			<a href="https://www.propellerheads.com/" target="_blank"><img src="/content/sponsors/propellerhead.png" /></a>
			<a href="http://arrowheadgamestudios.com/" target="_blank"><img src="/content/sponsors/arrowhead.png" /></a>
			<a href="https://www.showfabriken.se/" target="_blank"><img src="/content/sponsors/showfabriken.png" /></a>
		</section>		
		<section class="sponsors">
			<a href="https://www.f-secure.com" target="_blank"><img src="/content/sponsors/f-secure.png" /></a>
			<a href="https://knightec.se" target="_blank"><img src="/content/sponsors/knightec.png" /></a>
			<a href="https://www.sec-t.org/" target="_blank"><img src="/content/sponsors/sec-t.png" /></a>
		</section>		
		<section class="sponsors">
			<a href="https://www.syntax-error.se/" target="_blank"><img src="/content/sponsors/syntaxerror.png" /></a>
			<a href="https://scenesat.com/" target="_blank"><img src="/content/sponsors/scenesat.png" /></a>
			<a href="http://www.flowersfx.com/" target="_blank"><img src="/content/sponsors/flowersfx.png" /></a>
		</section>				
		@RenderSection("scripts", required: false)
	</body>
</html>

